@media only screen and (min-device-width: 360px) and (max-device-width: 440px) {
  .max-w-title {
    @apply max-w-[375px] !important;
  }
}

.my-4 .col-9.horizontal-set {
  width: 100%;
  clear: both;
}


.vignettes {
  clear: both;
}

html,
body {
  @apply font-sans text-base-black;
}

strong,
b {
  @apply font-bold;
}

.en-is-home-page .en-is-home-page-margin {
  @apply mx-auto;
}

.green-shadow {
  box-shadow: 6.53571px 6.53571px 28.7571px rgba(10, 143, 79, 0.2);
}

.p-component,
.p-inputtext {
  @apply font-sans;
}

.bottom-footerL {
  @apply mb-8;
}

.p-accordion-content p {
  @apply font-sans !important;
}

@layer utilities {
  .container {
    @apply md:max-w-[1100px];
  }

  .bg-green-grad {
    background: #5ccc94;
    background: linear-gradient(0deg, #5ccc94 0, #8ccaae 100%);
  }

  .bg-green {
    background: linear-gradient(0deg, #5ccc94 0%, #8ccaae 100%);
  }
}

.footer-txt a {
  @apply font-medium text-sm tracking-normal;
}

.top-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.bottom-section {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

hr {
  @apply border border-solid border-gray-border;
}

.col-12 {
  @apply w-full;
}

.col-8 {
  width: 66.66%;
}

.half-width, .col-6 {
 @apply w-1/2;
}

mark {
  background-color: #ffffb3;
  color: inherit;
}

@layer base {
  ul {
    margin: 1.2em 1.3em;
    list-style-type: square;
  }

  table {
    @apply w-fit;
  }

  .p-component {
    @apply font-sans;
  }

  .widget {
    @apply clear-both;
  }

  img,
  video {
    max-width: max-content;
  }

  .widget img {
    @apply max-w-[inherit];
  }

  .mobilePadding {
    @apply px-2 lg:px-4;
  }

  .mobilePadding2 {
    @apply px-4 lg:px-8;
  }

  .widget .set-img-sizeM {
    @apply w-full h-full md:max-w-[210px] md:w-[revert-layer] lg:max-w-[300px];
  }
}

.article-img {
  @apply w-full mx-auto my-0;
}

#otp-card {
  width: 63px;
}

#barion-card {
  width: 255px;
}

.textAlignLeft {
  @apply text-left;
}

.orange-h4-inline-none {
  margin: 20px 0;
}

/* base css */
#aszf {
  @apply accent-link-orange h-5 w-5;
}

.ValidityFormShadow #aszf {
  @apply m-0;
}

.vignetteResendContainer form .aszf-field label {
  @apply w-full;
}

.red {
  color: #F25532;
  margin-left: 1rem;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.widget-content li {
  list-style: none;
}

.widget-content ul {
  padding: 0;
}

.horizontal-set {
  float: none;
  margin: auto;
}

.nopadding {
  padding: 0;
  margin: 0;
}

.dashed-hr {
  clear: both;
  margin-bottom: 15px;
  margin-top: 15px;
  border: none;
  height: 1px;
  background: #b4b4be;
  background: repeating-linear-gradient(90deg, #b4b4be, #b4b4be 6px, transparent 6px, transparent 12px);
}

.dashed-hr-2 {
  border: none;
  height: 1px;
  background: #000;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 6px,
    transparent 6px,
    transparent 12px
  );
  clear: both;
  margin-bottom: 20px;
  margin-top: 25px;
  width: 50%;
}

.dashed-hr-3 {
  border: none;
  height: 1px;
  clear: both;
  margin-bottom: 20px;
  margin-top: 25px;
  background: repeating-linear-gradient(
    90deg,
    #b4b4be,
    #b4b4be 6px,
    transparent 6px,
    transparent 12px
  );
}



.greenText {
  @apply text-base-green;
}


.orange-h4-inline-none {
  margin: 20px 0;
}


.widget-content ul > li > a {
  display: block;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 3px;
  text-decoration: none;
}

.widget-content ul > li:last-child > a {
  border-bottom: 1px solid #ccc;
}

.widget-content ul > li > a:hover {
  background-color: #eee;
}

.green {
  color: olivedrab;
}

.center {
  text-align: center;
  margin-bottom: 10px;
}

