@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@layer utilities {
  .font-regular {
    @apply font-sans;
  }
}

html, body {
  font-family: "Roboto Condensed", sans-serif !important;
  @apply font-regular text-base-black;
}

.p-component, .p-inputtext {
  font-family: "Roboto Condensed", system-ui, sans-serif;
}

.bottom-footerL {
  @apply mb-8;
}

.p-accordion-content p {
  font-weight: normal !important;
}

@layer utilities {
  .container {
    @apply md:max-w-[1100px];
  }

  .bg-green-grad {
    background: #5ccc94;
    background: linear-gradient(0deg, #5ccc94 0, #8ccaae 100%);
  }

  .bg-green {
    background: linear-gradient(0deg, #5ccc94 0%, #8ccaae 100%);
  }

  /* base css */
}

.footer-txt a {
  @apply font-medium text-sm tracking-normal;
}

/* WhyYouBuyhere .vue */
.why-buy-here .col-9 {
  @apply w-full;
}

.top-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.bottom-section {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}

@layer base {
  ul {
    margin: 1.2em 1.3em;
    list-style-type: square;
  }

  table {
    @apply w-fit;
  }

  .p-component {
    font-family: "Roboto Condensed";
  }

  .widget {
    @apply clear-both;
  }

  img,
  video {
    max-width: max-content;
  }

  .widget img {
    @apply max-w-[inherit];
  }

  .mobilePadding {
    @apply px-2 lg:px-4;
  }

  .mobilePadding2 {
    @apply px-4 lg:px-8;
  }

  .widget .set-img-sizeM {
    @apply w-full h-full md:max-w-[210px] md:w-[revert-layer] lg:max-w-[300px];
  }
}

/* mainPageWhichVignetteBlock widget */

.widget .mainPageWhichVignetteBlock {
  @apply w-full px-4 lg:px-0;
}

.widget .mainPageWhichVignetteBlock h3 {
  @apply text-sm my-3.5 font-normal mb-10;
}

.widget .mainPageWhichVignetteBlock > div:nth-child(2),
.widget .mainPageWhichVignetteBlock > div:nth-child(3) {
  @apply flex justify-center gap-8 md:gap-28 mb-4;
}

.col-12.bottom-footerL {
  @apply mb-0;
}

.mainPageWhichVignetteBlock {
  @apply w-full lg:max-w-[900px] clear-both;
}

.mainPageWhichVignetteBlock > div:nth-child(2) .col-3,
.mainPageWhichVignetteBlock > div:nth-child(3) .col-3 {
  @apply w-full mb-4 md:flex items-center;
}

.mainPageWhichVignetteBlock > div:nth-child(2) .col-12,
.mainPageWhichVignetteBlock > div:nth-child(3) .col-12 {
  @apply md:w-auto;
}

.mainPageWhichVignetteBlock > div:first-child {
  @apply mb-12;
}

.mainPageWhichVignetteBlock .line-text {
  @apply mx-auto mb-2 md:ml-0 md:mb-0 block md:max-w-[170px];
}

.mainPageWhichVignetteBlock .title-desc {
  @apply text-justify text-base block w-full max-w-[280px] md:max-w-[100%] mx-auto md:ml-10;
}

/*vignetteTypes widget */
.vignetteTypesMainPage .col-9 {
  @apply w-full max-w-[600px] lg:max-w-[840px] mx-auto px-4;
}

.vignetteTypesMainPageRow .titleImg img {
  @apply w-[90px] h-[90px] lg:w-[110px] lg:h-[110px] md:top-4;
}

.vignetteTypesMainPage .vignetteTypesMainPageRow .titleImg .vignetteTypeLabel {
  @apply text-base sm:text-lg md:text-xl top-[47%] md:top-[65%];
}

.vignetteTypesMainPage .title-img-text {
  @apply text-sm md:text-base lg:text-lg lg:leading-none h-12 md:max-h-[32px];
}

.vignetteTypesMainPage .vignetteTypesMainPageRow .titleImg .title-img-text {
  @apply top-[25px] md:top-[50px];
}

/*whyToBuyHere widget */
.whyToBuyHere.bottom-footerS {
  @apply mb-0;
}

.w-100 {
  width: 100%;
}

.article-img {
  width: 100%;
  margin: 0 auto;
}

#otp-card {
  width: 63px;
}

#barion-card {
  width: 255px;
}

/* .whyToBuyHere > div {
  grid-template-columns:
    minmax(auto, 285px) minmax(auto, 285px) minmax(auto, 285px)
    minmax(auto, 285px);
  grid-template-columns: minmax(auto, 310px) minmax(auto, 310px);
  @apply grid gap-5;
}

@media screen  {
  
} */