@layer base {
  @font-face {
    font-family: "Roboto Condensed Medium";
    src: url("/assets/fonts/subset-RobotoCondensed-Medium.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-Medium.woff2") format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-Medium.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-Medium.ttf") format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-Medium.svg#RobotoCondensed-Medium")
        format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Thin";
    src: url("/assets/fonts/subset-RobotoCondensed-Thin.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-Thin.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-Thin.woff2") format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-Thin.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-Thin.ttf") format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-Thin.svg#RobotoCondensed-Thin")
        format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Semibold";
    src: url("/assets/fonts/subset-RobotoCondensed-SemiBold.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-SemiBold.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-SemiBold.woff2") format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-SemiBold.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-SemiBold.ttf")
        format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-SemiBold.svg#RobotoCondensed-SemiBold")
        format("svg");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Light";
    src: url("/assets/fonts/subset-RobotoCondensed-Light.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-Light.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-Light.woff2") format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-Light.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-Light.ttf") format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-Light.svg#RobotoCondensed-Light")
        format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Exrabold";
    src: url("/assets/fonts/subset-RobotoCondensed-ExtraBold.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraBold.woff2")
        format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraBold.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraBold.ttf")
        format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraBold.svg#RobotoCondensed-ExtraBold")
        format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Black";
    src: url("/assets/fonts/subset-RobotoCondensed-Black.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-Black.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-Black.woff2") format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-Black.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-Black.ttf") format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-Black.svg#RobotoCondensed-Black")
        format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "RobotoCondensedRegular";
    src: url("fonts/subset-RobotoCondensed-Regular.eot");
    src: url("fonts/subset-RobotoCondensed-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("fonts/subset-RobotoCondensed-Regular.woff2") format("woff2"),
      url("fonts/subset-RobotoCondensed-Regular.woff") format("woff"),
      url("fonts/subset-RobotoCondensed-Regular.ttf") format("truetype"),
      url("fonts/subset-RobotoCondensed-Regular.svg#RobotoCondensed-Regular")
        format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Italic";
    src: url("/assets/fonts/subset-RobotoCondensed-Italic.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-Italic.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-Italic.woff2") format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-Italic.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-Italic.ttf") format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-Italic.svg#RobotoCondensed-Italic")
        format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Bold";
    src: url("/assets/fonts/subset-RobotoCondensed-Bold.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-Bold.woff2") format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-Bold.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-Bold.ttf") format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-Bold.svg#RobotoCondensed-Bold")
        format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto Condensed Extralight";
    src: url("/assets/fonts/subset-RobotoCondensed-ExtraLight.eot");
    src: url("/assets/fonts/subset-RobotoCondensed-ExtraLight.eot?#iefix")
        format("embedded-opentype"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraLight.woff2")
        format("woff2"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraLight.woff") format("woff"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraLight.ttf")
        format("truetype"),
      url("/assets/fonts/subset-RobotoCondensed-ExtraLight.svg#RobotoCondensed-ExtraLight")
        format("svg");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
}
