.purchase-h1 {
  @apply flex items-center justify-center gap-4 text-[1.25rem] leading-8 lg:text-3xl;
}

.purchase-step-2 .plate-num-before-eu {
  background-image: url("../../public/img/purchase/euPlateNumberStarBg.svg");
  background-size: 15px;
  background-position: center 5px;
  border-radius: 5px 0 0 5px;
  @apply h-full w-10 flex justify-center items-end text-sm p-0 text-white bg-blue bg-no-repeat;
}

.purchase-step-2 .plate-num-before-non-eu {
  border-radius: 5px 0 0 5px;
  @apply h-full w-10 flex justify-center items-end text-sm p-0 border border-base-black text-base-black;
}

.purchase-step-2 .p-inputgroup-addon {
  @apply p-0 absolute left-0 bottom-0 top-0 z-20;
}

.purchase-calculator {
  @apply w-full lg:max-w-[220px] xl:max-w-[270px] text-center lg:absolute right-10 2xl:right-36 top-[22rem] my-5;
}

.purchase-step-3 .prefix-select {
    @apply px-0;
}

.monthType[type="button"] {
  background: rgba(245, 246, 249, 0.37);
  @apply w-[62px] h-10 border border-dark-gray rounded-[5px] cursor-pointer text-dark-gray 
  focus:bg-white focus:outline-none focus:text-base-black hover:text-base-green hover:border hover:border-base-green hover:bg-white;
}

.monthType[type="button"]:hover {
  box-shadow: 5px 5px 22px rgb(10 143 79 / 20%);
}

.monthType[type="button"].focus {
  box-shadow: 5px 5px 22px rgb(10 143 79 / 20%);
  @apply bg-base-green text-white border-none;
}

.p-dropdown-items-wrapper ul {
  @apply m-0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.5rem 1rem;
}

.p-dropdown-panel .p-dropdown-header {
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
}

.p-dropdown.p-inputwrapper.p-inputwrapper-filled.primary-select {
  @apply px-0;
}