/*whyToBuyHere widget */

.whyToBuyHere {
  @apply text-center;
}

.whyToBuyHere.bottom-footerS {
  @apply mb-0;
}

.why-buy-here .col-9 {
  @apply w-full;
}

.whyToBuyHere > div {
  grid-template-columns: minmax(auto, 310px);
  @apply grid gap-5 justify-center;
}

.whyToBuyHere .whyToBuyHereElement {
  background-image: url("/assets/content/miert_nalunk_vasarold_alap.svg");
  @apply flex justify-center flex-col items-center h-[133px] bg-no-repeat 
  rounded-lg bg-grad-base-orange transition-all;
}

.dark .whyToBuyHere .whyToBuyHereElement {
  background-image: none;
  @apply bg-white text-base-black border border-base-black hover:border-link-hover transition-all;
}

.whyToBuyHere .whyToBuyHereElement {
  @apply bg-center rounded-[5px];
}

.whyToBuyHere .whyToBuyHereElement > span {
  width: 179px;
  margin-top: 10px;
  line-height: 20px;
  @apply text-white text-sm;
}

.whyToBuyHere a .whyToBuyHereElement > span {
  @apply hover:underline;
}

.dark .whyToBuyHere .whyToBuyHereElement > span {
  @apply text-base-black;
}

.dark .whyToBuyHere a .whyToBuyHereElement:hover > span {
  @apply text-link-hover transition-all hover:no-underline;
}


@media all and (min-width: 540px) {
  .whyToBuyHere > div {
    grid-template-columns: minmax(auto, 310px) minmax(auto, 310px);
  }
}

@media all and (min-width: 1100px) {
  .whyToBuyHere > div {
    grid-template-columns:
      minmax(auto, 285px) minmax(auto, 285px) minmax(auto, 285px)
      minmax(auto, 285px);
  }
}
