@layer utilities {
  .btn {
    @apply text-center flex border justify-center items-center focus:ring-1 font-medium rounded-md text-base px-6 py-2.5 focus:outline-none transition-all duration-200;
  }

  .btn-sm {
    @apply py-1 px-4;
  }
  
  .btn-box-shadow {
    box-shadow: 5px 5px 22px rgb(10 143 79 / 20%);
  }

  .primary-btn-outline {
    @apply bg-white text-base-orange hover:text-white hover:bg-base-orange border-base-orange focus:ring-base-orange;
  }  
}

.primary-btn,
[type="button"].primary-btn {
  @apply bg-base-orange text-white hover:text-base-orange hover:bg-white border-base-orange focus:ring-base-orange;
}

.btn-gray {
  @apply btn border text-base-black border-base-gray bg-base-gray hover:bg-white max-w-[150px] w-full;
}

.btn-green[type='submit'], .btn-green {
  @apply btn bg-base-green text-white hover:bg-white hover:text-base-green border border-base-green max-w-[150px] w-full;
}

.p-accordion .primary-btn-outline {
  @apply justify-around text-link-orange hover:text-white md:text-xl font-normal;
}

.p-accordion .primary-btn {
  @apply justify-around md:text-xl font-normal;
}

.primary-btn-outline:hover .read-img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(470%)
    hue-rotate(357deg) brightness(109%) contrast(101%);
}

.greenButton {
  @apply btn mx-auto bg-[#5ccc94] text-white hover:text-[#5ccc94] hover:bg-white border-none btn-box-shadow md:w-1/3;
}

/* News  */

.primary-btn-outline:hover .news-img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(470%) hue-rotate(357deg) brightness(109%) contrast(101%);
}

.primary-btn-outline .read-img {
  filter: invert(54%) sepia(52%) saturate(1451%) hue-rotate(346deg)
    brightness(98%) contrast(96%);
  @apply relative right-0 md:right-10;
}

.primary-btn .read-img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(470%) hue-rotate(357deg) brightness(109%) contrast(101%);
  @apply relative text-white right-0 md:right-10;
}

.primary-btn:hover .read-img {
  filter: invert(54%) sepia(52%) saturate(1451%) hue-rotate(346deg)
    brightness(98%) contrast(96%);
  @apply relative text-white right-0 md:right-10;
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

.btn-orange {
  @apply btn w-fit primary-btn-outline;
}

[type="button"].lang-btn {
  @apply flex items-center bg-white text-base-black rounded-[4px] text-sm px-2 py-1 font-medium hover:bg-transparent hover:text-white;
}

.p-dialog-footer {
  @apply px-0 bg-base-black rounded-b-md;
}

.p-dialog-header-icon.p-dialog-header-close.p-link {
  @apply absolute top-2 right-2;
}

button.greenButton {
  background-color: rgb(92 204 148 / var(--tw-bg-opacity));
}