/*Color palette:*/
.site-color-palette-collection {
    color: #e53935;
    color: #b2ebf2; /*hover*/
    color: #40c4ff; /*hover*/
    color: #e3f2fd;
    color: #4890DC;
    color: #2776CA;
    color: #01579b;
    color: #ffffff;
    color: #f5f5f5;
    color: #eeeeee;
    color: #bcbcbc;
    color: #a4a4a4;
    color: #757575;
    color: #494949;
}
/*********************************/
/** Defaults                    **/
* {
    border: 0;
    box-sizing: border-box;
    font-family: tahoma, sans-serif, inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    min-height: 100%;
    height: 100%;
}

header, footer, aside, nav, article {
    display: block;
}

ol {
    list-style: none;
}

ul {
    list-style: disc;
    margin: 0.6667rem 1.3333rem;
    line-height: 1.3333rem;
}

li {
    padding-left: 0.3333rem;
}

strong {
    font-weight: bold;
}

p {
    margin: 0 0 0.8667rem;
    line-height: 1.3333rem;
}

#content-main > h1:not(:empty) {
    margin-left: -0.6667rem;
    padding-left: 0.6667rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: left;
    background-color: #2776CA;
    color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin: 0.6667rem 0;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.0667rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.9333rem;
}

h5 {
    font-size: 0.8667rem;
}

h6 {
    font-size: 0.8667rem;
}

hr {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 0.0667rem;
    margin: 0.6667rem 0;
    border-color: #b2ebf2;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="submit"]:active, input[type="button"]:active, input[type="submit"]:focus, input[type="button"]:focus, button:hover, .button:hover, button:active, .button:active, button:focus, .button:focus {
    cursor: pointer;
    text-decoration: none;
}

[class*="col-"] {
    float: left;
    padding: 0 1rem;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.offset-3 {
    margin-left: 25%;
}

.col-3 {
    width: 25%;
}

.offset-4 {
    margin-left: 33.33%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.row::after {
    clear: both;
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    background-image: linear-gradient(#fff, #bcbcbc);
    color: #494949;
    font-family: Tahoma, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 0.8667rem;
    line-height: 1.5;
    min-height: 100%;
    height: 100%;
}

header, footer {
    background-color: transparent;
    color: #494949;
    margin: 0 auto;
    max-width: 64.1333rem;
}

/*********************************/
/** Form                        **/
form {
    margin: 0;
    padding: 0;
}

    form legend {
        font-size: 0.9333rem;
        font-weight: bold;
    }

    form fieldset {
        padding: 0;
    }

    form label {
        display: block;
        font-weight: normal;
        padding: 0.3333rem 0;
    }

    form input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]), form textarea:not([type="submit"]), form select:not([type="submit"]) {
        /*width: 90%;*/
        min-width: 16.25em;
    }

    form input, form textarea, form select {
        border: 0.0667rem solid #bcbcbc;
        display: block;
        padding: 0.4667rem;
        margin-bottom: 0.2rem;
    }

    form amp-img.list-icon {
        margin: 0.3333rem -0.2rem -0.3333rem 0.2rem;
    }

    form input[type="checkbox"], form input[type="radio"] {
        display: initial;
        margin: 0.3333rem 0 0.6667rem 0.3333rem;
    }

    /*form input.field-error {
        border-left-width: thick;
        border-left-color: salmon;
    }*/

    form span.field-error {
        color: #e53935;
        padding: 3px 0 5px 0;
        display: block;
    }

    form span.visible.p-l-5 {
        padding-left: 0.3333rem;
    }
/*********************************/
/** Table                       **/
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

    table td, table th {
        border: 0.0667rem solid #f5f5f5;
        padding: 0.5333rem;
    }

    table tr:nth-child(even) {
        background-color: #f5f5f5;
    }

    table tr:hover {
        background-color: #e3f2fd;
    }

    table th, table th a {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        text-align: left;
        background-color: #2776CA;
        color: #ffffff;
    }

        table th a:hover {
            text-shadow: none;
            color: #ffffff;
        }

.table-row:not(.table-header):not(.table-footer):hover, .table-alt:not(.table-header):not(.table-footer):hover {
    /*.webGrid tr:hover:not(.table-header, .table-footer) {*/
    background-color: #e3f2fd;
    color: #494949;
}
/*********************************/

/*********************************/
/** Cards             **/
.cards {
    width: 100%;
    margin-top: 0.6667rem;
    overflow: auto;
}

    .cards:after {
        clear: both;
    }

.card {
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: auto;
    padding-left: 0.6667rem;
    margin: 0.3333rem -0.6667rem;
}

    .card amp-img {
        margin-left: -0.6667rem;
    }

    .card .card-in {
        padding: 0rem 0.6667rem;
    }

.footer-like-box {
    background-color: #eee;
    border-top: 0.2rem solid #a4a4a4;
    padding: 1.3333rem;
    margin: 1.25em -1.15em -0.625em -1.15em;
    overflow: auto;
}
/*********************************/
/*********************************/
/** Custom elements             **/
.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container {
    background-color: #ffffff;
    margin: 0 auto;
    max-width: 64.1333rem;
    width: 97%;
}

.content-main > article > p {
    text-align: justify;
}

.menu-toggle {
    background: url(/assets/content/menu_icon.svg) no-repeat center/2rem 1.6rem transparent;
    display: none;
    height: 2.6667rem;
    width: 2.6667rem;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.red {
    color: #e53935;
}

.container {
    margin-bottom: 0.6667rem;
}

.t-capitalize {
    text-transform: uppercase;
}

.t-center {
    text-align: center;
}

.color-light {
    color: #ffffff;
}

.color-dark {
    color: #494949;
}

.inline-element {
    display: inline;
}

.amp-img-qr {
    float: left;
    padding-right: 0.6667rem;
    padding-left: 0.3333rem;
}

.btn-moreinfo {
    border: 0.0667rem solid #a4a4a4;
    cursor: pointer;
    margin-bottom: 0.6667rem;
    padding: 0.3333rem 0.6667rem;
}

    .btn-moreinfo:hover {
        background-color: #fff;
    }

.btnWarningBigCubic {
    background-color: #e3f2fd;
    color: #e53935;
    margin: 0.2rem;
    min-width: 6.6667rem;
    padding: 0.6667rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .btnWarningBigCubic:hover {
        cursor: pointer;
        background-color: #e3f2fd;
        box-shadow: 0 0.0667rem 0.2rem #eee, 0 0.0667rem 0.1333rem #b2ebf2;
    }

.btnBigCubic {
    background-color: #f5f5f5;
    border: 0.0667rem solid #eee;
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    color: #494949;
    margin: 0.2rem;
    min-width: 6.6667rem;
    padding: 0.6667rem;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .btnBigCubic:hover, input.btnBigCubic:hover {
        background-color: #b2ebf2;
        box-shadow: 0 0.2rem 0.4rem #a4a4a4, 0 0.6667rem 0.6667rem #bcbcbc;
    }

.bg-highlight {
    background-color: #b2ebf2;
}

form label.radio-white-pane {
    padding: 0;
}

a, .default-link {
    color: #2776CA;
    cursor: pointer;
    text-decoration: none;
}

    a:focus, a:hover {
        background-color: transparent;
        color: #40c4ff;
        /*text-shadow: 0.5px 0.5px #757575;*/
        text-decoration: none;
    }

/*********************************/
/** Bordered widget             **/
.bordered-widget {
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 0.6667rem;
    margin: 0.6667rem -0.2rem;
    /*text-align: center;*/
}

    .bordered-widget:hover {
        box-shadow: 0 0.2rem 0.4rem #a4a4a4, 0 0.6667rem 0.6667rem #bcbcbc;
    }
/*********************************/

/*********************************/
/** Overlay                    **/
.ui-widget-overlay {
    background-color: #a4a4a4;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    opacity: .40;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}
/*********************************/

/*********************************/
/** Branding                    **/

.branding .widget {
    width: 100%;
}

.branding #brandingtitle {
    font-size: 1.8667rem;
    font-family: "Segoe UI Light","Segoe UI",Tahoma;
    display: inline-block;
    padding-top: 1rem;
}

#ugyfelszolgalat {
    background-color: #2776CA;
    color: #f5f5f5;
    margin-bottom: 0.2rem;
    padding: 0.6667rem 1.3333rem;
}

    #ugyfelszolgalat a {
        color: #f5f5f5;
        font-weight: bold;
    }
/*********************************/

/*********************************/
/** Keresés widget top          **/
.top-widget {
    background-color: #494949;
    margin: 0 auto;
    max-width: 64.1333rem;
    width: 97%;
}

.widget-c-t-search {
    background-image: linear-gradient(-90deg, #01579b, #2776CA);
    color: #ffffff;
    line-height: 1.3;
    margin: 0rem 0 1.3333rem 0;
}

.widget-c-t-search-description amp-carousel {
    margin: 0.6667rem -2.6667rem;
}

.widget-c-t-search-description .amp-carousel-slide {
    padding: 0.6667rem 4rem;
}
/*********************************/

/*********************************/
/** Menü                        **/
.menu {
    background-color: #01579b;
    /*box-shadow: 0 1px 0 #bcbcbc, 0 1px 6px #eeeeee;*/
    clear: both;
    font-size: 1.0667rem;
    margin-bottom: 0.4667rem;
    max-width: 64.1333rem;
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
}

.user-menu {
    display: inline-block;
}

.menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu li {
    border: 0;
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    padding: 0 0.2rem;
    text-align: center;
    width: auto;
}

    .menu li a {
        border-color: #bcbcbc;
        color: #fff;
        display: inline-block;
        padding: 0.6667rem 0.4667rem;
        text-decoration: none;
        text-shadow: 0 -0.0667rem 0 #494949;
    }

    .menu li :hover {
        background-color: #2776CA;
        box-shadow: 0.0667rem 0.1333rem #01579b;
    }
/*********************************/

/*********************************/
/** Accoridon - Súgó           **/

section > h3 {
    /*vertical-align: middle;*/
    color: #494949;
    display: block;
    margin: 0 0 0.3333rem 0;
    padding: 0.3333rem;
}

    section > h3:hover {
        box-shadow: 0 0.2rem 0.4rem #a4a4a4, 0 0.6667rem 0.6667rem #bcbcbc;
        background-color: transparent;
        color: #57646A;
    }

amp-accordion > section {
    margin: 0.3333rem 0;
}

section[expanded] {
    background-position: left bottom;
    color: #494949;
}

.accordion-container {
    background: #eeeeee;
    border: 0.0667rem #a4a4a4;
    clear: both;
    margin: 0 0 0.3333rem 0;
    overflow: hidden;
    padding: 0.3333rem 2rem;
}

    .accordion-container ul {
        margin: 0.3333rem;
    }
/*********************************/

/*********************************/
/** Sidebar                     **/
.sidebar {
    border-left: 0.1333rem solid #01579b;
    border-right: 0.2rem solid #757575;
    width: 25%;
}

    .sidebar ul {
        font-size: 1.0667rem;
        padding: 0.3333rem 0.6667rem;
    }

    .sidebar li {
        list-style: none;
    }

        .sidebar li a {
            color: #494949;
            display: block;
            padding: 0.6667rem;
            width: 100%;
        }

            .sidebar li a:hover {
                background-color: #494949;
                color: #ffffff;
            }
/*********************************/

/*********************************/
/** Lightbox - Súgó popup       **/
.sugo-dialog-container {
    background-color: #fff;
    border: 0.0667rem solid #eee;
    color: #494949;
    /*height: auto;*/
    margin: auto;
    margin-top: 3%;
    margin-bottom: 1%;
    width: 50%;
}

.sugo-dialog-title {
    background-color: #2776CA;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0.3333rem;
}

.sugo-dialog-content {
    padding: 1.3333rem;
}

    .sugo-dialog-content > p > strong:first-child {
        font-size: 1.0667rem;
        font-weight: bold;
    }

    .sugo-dialog-content > p > strong:not(:first-child) {
        font-size: 0.9333rem;
        font-weight: bold;
    }
/*********************************/

/*********************************/
/** Tabs - Keresés widget       **/
.tab-container {
    border: 0.1333rem solid #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin: 2.1333rem 0;
}

.tab-button {
    background-color: #2776CA;
    color: #f5f5f5;
    cursor: pointer;
    flex-grow: 1;
    list-style: none;
    margin: 0.1333rem 0.0667rem 0rem 0rem;
    padding: 0.4667rem 0.3333rem;
    text-align: center;
}

    .tab-button:nth-child(1) {
        margin-left: 1.3333rem;
    }

    .tab-button:nth-child(3) {
        margin-right: 1.3333rem;
    }

    .tab-button.selected {
        background-color: #ffffff;
        color: #2776CA;
        font-weight: bold;
    }

    .tab-button:not(.selected):hover {
        background: #4890DC;
    }

.tab-content {
    /* must be greater than the order of the tab buttons to flex to the next line */
    background-color: #ffffff;
    color: #494949;
    order: 1;
    padding: 0 1.3333rem;
    width: 100%;
}

.companyname {
    width: 13.3333rem;
}

.statustext {
    white-space: nowrap;
}

.status-1 {
    color: #01579b;
}

.status-2 {
    color: #e53935;
}

.status-3 {
    color: #494949;
}
/*********************************/

/*********************************/
/** Rendelés cégadatok          **/
.rendelescegadat {
    background: #01579b;
    color: #ffffff;
    margin: 0.3333rem 0 0.6667rem 0;
    padding: 0.6667rem;
}

.companydetailcontainer {
    background-color: #2776CA;
    box-shadow: inset 0.0667rem 0.0667rem 0.1333rem 0.2rem #01579b;
    margin: 0.3333rem auto;
    padding: 0.6667rem;
}

.companydetailcol {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    width: 18.6667rem;
}

.rendelescegadat div.cegszekhely a {
    color: #ffffff;
}

a.cttooltip {
    color: #ffffff;
    text-decoration: underline;
}

/*********************************/
/** Rendeléslépés szünet        **/
.rendeleslepes-clear {
    clear: both;
}

/*********************************/
/** Rendelés adatmegadás        **/
.rendeleslepes-adatmegadas {
    float: left;
    padding: 0 0.3333rem;
    position: relative;
    width: 20rem;
}

.priceheader {
    display: block;
    height: 1.3333rem;
    padding: 0 0.3333rem;
    margin-bottom: 1rem;
    width: 19.5333rem;
}

.priceheadernet, .priceheadergross {
    float: right;
    position: relative;
    right: 0;
    top: 0.4667rem;
    width: 5.3333rem;
}

.pricenet, .pricegross {
    float: right;
    position: relative;
    right: 0;
    top: 0.4667rem;
    width: 5.3333rem;
}

.cthelpopen {
    background-color: #eeeeee;
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 0.6667rem 0;
    padding: 0.2rem;
    text-align: end;
}

.cthelpopen, .salesforpaymentselect {
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.salesforpaymentselect {
    width: auto;
    padding: 0.3333rem 1.3333rem;
    margin: 0.6667rem 0 0.3333rem 1.3333rem;
}

.rendeleslepes-adatmegadas .adatelemfocim {
    margin: 0.6667rem auto;
}

.rendeleslepes-adatmegadas .adatelem, .rendeleslepes-adatmegadas .adatelem {
    background-color: #e3f2fd;
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: block;
    margin: 0.3333rem;
}

    .rendeleslepes-adatmegadas .adatelem:hover, .rendeleslepes-adatmegadas .adatelem:hover {
        background-color: #b2ebf2;
        box-shadow: 0 0.2rem 0.4rem #a4a4a4, 0 0.6667rem 0.6667rem #bcbcbc;
    }

.rendeleslepes-adatmegadas .nyelvvalasztas .adatelem, .rendeleslepes-adatmegadas .nyelvvalasztas .adatelem-passziv, .radio-white-pane {
    background: #fff;
    border: 0.0667rem solid #eee;
    display: block;
    margin: 0.3333rem;
}

    .rendeleslepes-adatmegadas .nyelvvalasztas .adatelem:hover, .radio-white-pane:hover {
        background: #f5f5f5;
        box-shadow: 0 0.2rem 0.4rem #a4a4a4, 0 0.6667rem 0.6667rem #bcbcbc;
    }

.rendeleslepes-adatmegadas .nyelvvalasztas .adatelem-passziv {
    color: #bcbcbc;
}

.merleg-doboz .nyelvvalasztas {
    background: #e3f2fd;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    display: block;
    margin: 0.2rem 0;
}

    .merleg-doboz .nyelvvalasztas > * {
        display: inline;
    }

.rendeleslepes-adatmegadas #dvInvoiceAddress {
    display: block;
}

#cthelp {
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    background: #f5f5f5;
    /*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
    /*border: 1px solid #bcbcbc;*/
    display: block;
    font-size: 0.8667rem;
    margin: 0.3333rem 0;
    padding: 0.3333rem;
}
/*TODO*/
.mintadoc {
    padding-top: 0.6667rem;
    width: 15%;
}

.mintadoc-content {
    width: 85%;
}

div[class^="minihelp-"] {
    font-size: 0.8rem;
    min-height: 8.3333rem;
    padding: 0.3333rem;
}

.minihelp-futar, .minihelp-posta, .minihelp-szamla {
    position: relative;
    float: left;
    margin-left: 0.3333rem;
    vertical-align: top;
}

/*********************************/
/** Rendelés adatmegadás-állapot**/
.rendeleslepes-lezart {
    background: #01579b;
    color: #ffffff;
    margin: 0.3333rem 0;
    padding: 0.6667rem;
}

    .rendeleslepes-lezart h2 span.modositas-kicsi a {
        background-color: #2776CA;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        color: #fff;
        font-size: 0.8rem;
        line-height: 1.0667rem;
        margin-left: 0.3333rem;
        padding: 0.3333rem 0.6667rem;
        vertical-align: middle;
    }

        .rendeleslepes-lezart h2 span.modositas-kicsi a:hover {
            box-shadow: 0 0.0667rem 0.2rem #2776CA, 0 0.2rem 0.4rem #4890DC;
            background-color: #4890DC;
        }

.rendeleslepes-aktualis {
    background: #2776CA;
    color: #ffffff;
    font-weight: bold;
    padding: 0.3333rem 0.6667rem;
    margin: 0 0 1.3333rem 0;
}

/*********************************/
/** Rendelés tovább             **/
.rendelestovabb {
    cursor: pointer;
    height: 2.6667rem;
    margin-top: 0.6667rem;
    margin-bottom: 0.6667rem;
}

.navigate-back {
    float: left;
    height: inherit;
    width: 30%;
}

    .navigate-back a {
        background: #a4a4a4;
        font-weight: bold;
        color: #ffffff;
        box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        cursor: pointer;
        display: block;
        font-size: 1.0667rem;
        height: 100%;
        margin-right: 0.3333rem;
        padding-top: 0.8rem;
        text-align: center;
    }

        .navigate-back a:hover {
            box-shadow: 0 0.2rem 0.4rem #a4a4a4, 0 0.6667rem 0.6667rem #bcbcbc;
        }

.navigate-forward {
    float: left;
    height: inherit;
    width: 70%;
}

    .navigate-forward input {
        background: #2776CA;
        color: #ffffff;
        font-weight: bold;
        border: none;
        box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        cursor: pointer;
        font-size: 1.0667rem;
        height: inherit;
        width: 100%;
    }

        .navigate-forward input:hover {
            background: #4890DC;
            box-shadow: 0 0.2rem 0.4rem #a4a4a4, 0 0.6667rem 0.6667rem #bcbcbc;
            /*color: #757575;*/
        }

/*********************************/
/** Rendelés nyilatkozat        **/
#terms-and-subscription {
    background-color: #fff;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 0.0667rem 0.2rem #f5f5f5, 0 0.0667rem 0.1333rem #bcbcbc;
    color: #494949;
    margin: 0.6667rem 0;
    padding: 0.6667rem;
}

    #terms-and-subscription > a, #terms-and-subscription label {
        color: #01579b;
    }

        #terms-and-subscription > a:focus, #terms-and-subscription > a:hover {
            color: #fff;
        }

/*********************************/
/** Autosuggest                 **/
.autosuggest-container {
    /*Prevent the autosuggest box from flowing outside its parent*/
    position: relative;
}

/*Position the autosuggest box as an overlay over the form fields.*/
#autosuggest-list {
    background-color: #fafafa;
    box-shadow: 0 0.1333rem 0.4rem #757575;
    position: absolute;
    width: 100%;
    margin-top: 2.6667rem;
    z-index: 100;
}

#autosuggest-selector {
    width: 100%;
}

.select-option {
    color: #494949;
    box-sizing: border-box;
    line-height: 2rem;
    padding: 0rem 0.6667rem;
}

    .select-option:hover {
        background-color: #e3f2fd;
        height: auto;
        overflow: visible;
        white-space: normal;
    }

    .select-option.empty {
        text-align: center;
    }

    .select-option.no-outline[selected] {
        outline: initial;
    }

.form-item {
    color: #494949;
}

.form-item-row {
    margin: 0.6667rem 0.3333rem;
    white-space: nowrap;
}

#cg-search-name, #cg-search-tax, #cg-search-tregnum {
    border: 0.0667rem solid #a4a4a4;
    letter-spacing: 0.0667rem;
    line-height: 1.5em;
    padding: 0.4333rem 1.3333rem;
}

#cg-search-tax, #cg-search-tregnum {
    letter-spacing: 0.2rem;
}

/*#cg-search-name {
    width: 70%;
}*/

.cg-search-btn {
    background-color: #f5f5f5;
    border: 0.0667rem solid #a4a4a4;
    cursor: pointer;
    letter-spacing: 0.0667rem;
    line-height: 1.5em;
    margin-left: 1%;
    padding: 0.4333rem 1.3333rem;
}

    .cg-search-btn:hover {
        background-color: #fff;
    }
/*********************************/

/*********************************/
/** media                       **/
/*********************************/

@media only screen and (max-width: 51.2em) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .visible-desktop {
        display: none;
    }

    .menu-toggle {
        border: 0;
        display: block;
        float: right;
        margin: 0.4667em;
    }

    .menu {
        display: none;
    }

    .sidebar {
        width: 75%;
    }

    .user-menu {
        display: none;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.0667em;
    }

    h3 {
        font-size: 1.0667em;
    }
}

@media (max-width: 32em) {
    [class*="col-"]:not([type="submit"]) {
        float: left;
        padding: 0 0.3333em;
    }

    .branding #brandingtitle {
        padding-left: 0.6667em;
        font-size: 1.0667em;
    }

    #ugyfelszolgalat {
        display: none;
    }

    .tab-container {
        border: none;
    }

    .tab-button:nth-child(1), .tab-button:nth-child(3) {
        margin-left: 0em;
        margin-right: 0em;
    }

    .sugo-dialog-container {
        margin-top: 1%;
        width: 90%;
    }
}
